
.signup-page__width {
    max-width: 1440px;
}

.panel-background {
    background: linear-gradient(to bottom right,#3bb249,#137b20),
                linear-gradient(to right bottom, rgb(59, 178, 73), rgb(19, 123, 32));
}

.panel-background-image {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 0h1L0 6V5zm1 5v1H5z' fill='%239affa6' fill-opacity='.16' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .h-panel {
        height: auto !important;
    }
}

@media only screen and (min-width: 768px) {
    .h-panel {
        height: 100% !important;
    }
}